/*SECCION GENERALES AL PROGRAMA*/ quiero que explote
/*General*/
* {  box-sizing: border-box;}

/*Elementos Ancalados*/
a {  text-decoration: none;  color:white;}

/*Listas*/
ol, ul{  text-decoration: none;  list-style:none;  margin:0px;
  text-indent: 20px;  color: white;}

/*ELementos de lista general*/
li { color:white;  font-size: 14px;  line-height: 23px;}

ol li {  margin-left: 50px; text-indent:0px; }

/*Parrafos*/
p {  margin-left: 5px;  margin-right:0px;  margin-bottom:5px;  margin-top:5px;
  color:white;  font-size: 14px;}

/*Titulos*/
h1 {  font-size: 35px;  text-decoration:underline;}
h2 {  font-size: 28px;  text-decoration:underline;}
h3 {  font-size: 26px;  text-decoration:underline;}
h4 {  font-size: 25px;  text-decoration:underline;}
h5 {  font-size: 24px; text-decoration: underline;}
h6 {  font-size: 23px;  text-decoration: underline;}
/*Elementos de Texto*/

span {  color:#FA5858;}

/*FIN DE SECCION GENERAL*/



/*CUERPO DE HTML*/
/*Base visiual*/
body
{ color:#00bcd4;  background-color: rgba(0, 0, 0, 0.9);  width: 100%;
  border:3px solid blue;  border-radius:30px;  overflow-Y: auto; margin: 0 auto;}

/*Encabezado*/
header
{ border: 2px solid grey; border-radius: 30px; }

.enlaces-web{
  display:flex;
  width:100%;
  justify-content: space-around;
}

.enlaces-web li{
  font-size: 30px;
  margin: 20px 0;
}

/*Cuerpo*/
main
{  clear:both;  overflow: auto;border-radius: 30px; border: 2px solid brown;
    position: relative;}

.Indice
{  width: 19%;  position:fixed;  border: 1px solid red;  border-radius: 20px;
  float: left;  padding: 20px; overflow:auto;}

.main
{  width: 79%;  padding: 0.5%;  border: 2px solid green;  border-radius: 20px;
  margin-right: 5px;  float:right;}

.listaordenada
{  list-style: upper-alpha; margin-left:5px;}

article ol li
{  margin-left:0px;}

article ol li a{
  color:white;
  text-decoration: underline;
}

article ol ol li{
  list-style: upper-roman;
  text-decoration:underline;
  margin-left: 5px;
}

article ol ol li a
{  text-indent: 10px;}

.Indice article ol{  padding-left: 20px;}

#refarriba
{ padding: 5px 2.5px 5px 2.5px; background-color: gold ; border-radius: 10px;
  margin: 10px 0;}

#Span
{  color: green;  font-size: 25px;  font-style: italic;  font-weight: bold;
  background-color: red;  text-decoration: line-through;}

.atributo
{ color:#FE9A2E;}

.Comillas
{ color:#2EFE64;}

.identificador
{color:#2E64FE}
/*Pie de Pagina*/
footer
{  overflow:auto;  clear:both;  border: 100px solid grey;
  border-radius: 30px 30px 0 0;}

  /*FOOTER NEW NAT*/
